{
  "keepSessionsFull": 5,
  "keepDecisionsFull": 10,
  "archiveAfterDays": 30,
  "trackingMaxLines": 100,
  "compressThresholdBytes": 12000,

  "sessionLogTailLines": 20,
  "briefingRecentDecisions": 5,
  "briefingMaxProgressLines": 40,

  "maxCheckpointFiles": 10,
  "staleWarningSeconds": 1800
}
